@charset "utf-8";

* {
    font-family: "Noto Sans CJK JP", "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
    
    outline: 0 !important;
    
    cursor: default;
    
    touch-action: manipulation;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    position: relative;
    
    height: 100%;
    margin: 0;
    
    color: #333333;
    
    overscroll-behavior-y: none;
}

body {
    background-color: #f7f7f7;
    
    height: calc(100% - 20px);
    
    padding-top: 10px;
}

h1 {
    margin: 0;
    
    line-height: 50px;
    font-size: 22px;
    text-align: center;
}

article {
    width: min(460px, calc(100% - 40px));
    
    margin: 0 auto 10px auto;
    
    padding: 9px;
    
    border: 1px solid #dddddd;
    
    background-color: #ffffff;
}

h2 {
    margin: 15px 0 10px 0;
    
    border-bottom: 1px solid #dddddd;
    
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

h3 {
    margin: 14px 4px 4px 4px;
    
    line-height: 24px;
    font-size: 18px;
}

h4 {
    margin: 15px 0 10px 0;
}

*[onclick], a, :is(*[onclick], a) *, button, label {
    cursor: pointer;
    
    -webkit-tap-highlight-color: rgba(153, 153, 153, 0.2);
}

*[onclick]:hover, *[onclick]:hover *, a:hover, a:hover *, button:hover, label:hover {
    text-decoration: none !important;
}

button {
    box-sizing: content-box;
    
    padding: 0;
    
    border: none;
    
    background-color: transparent;
    
    text-align: inherit;
}

a {
    color: #999999;
}

#login_status {
    background-color: #f7f7f7;
    
    padding: 10px;
    
    line-height: 30px;
    text-align: center;
    
    b {
        font-size: 18px;
    }
}

input, textarea {
    cursor: text;
}

input[type="text"], input[type="password"], select {
    background-color: #ffffff;
    
    border: none;
    border-bottom: 2px solid #cccccc;
    border-radius: 0;
    
    color: #333333;
    
    appearance: none;
    -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
    display: none !important;
}

.wide_button, input[type="radio"] + label {
    border-radius: 4px;
    
    background-color: #444444;
    
    color: #ffffff;
    text-decoration: none;
}

input[type="radio"] {
    & + label {
        display: inline-block;
        
        position: relative;
        
        margin: 6px 0 6px -1px;
        
        padding: 7px 12px 9px 12px;
        
        border: 1px solid #dddddd;
        border-radius: 0;
    
        background-color: #f7f7f7;
        
        color: #666666;
    }
    
    &:first-of-type + label {
        margin-left: 0;
        
        border-radius: 4px 0 0 4px;
    }
    
    &:last-of-type + label {
        border-radius: 0 4px 4px 0;
    }
    
    &:checked + label {
        position: relative;
        
        border-color: #444444;
        
        background-color: #444444;
        
        color: #ffffff;
        
        z-index: 1;
        
        &:after {
            content: "";
            
            display: block;
            
            position: absolute;
            bottom: 2px;
            left: 12.5%;
            
            width: 75%;
            height: 2px;
            
            background-color: currentColor;
        }
    }
}

input[type="checkbox"] + label.drop_down {
    display: block;
    
    position: relative;
    
    width: calc(100% - 20px);
    
    max-width: 480px;
    min-height: 25px;
    
    margin: 5px auto;
    padding: 9px;
    
    border: 1px solid #dddddd;
    
    background-color: #f7f7f7;
    
    line-height: 25px;
    font-size: 17px;
    
    z-index: 1;
    
    -webkit-tap-highlight-color: transparent;
    
    &:after {
        content: "";
        
        display: inline-block;
        
        position: absolute;
        top: calc(50% - 22.5px);
        left: calc(100% - 45px) !important;
        
        width: 45px;
        height: 45px;
        
        background-image: url(data:image/webp;base64,UklGRqAAAABXRUJQVlA4TJMAAAAvJ8AFEC9AkG2zzfX+CNcgyLbZ5np/hBNk22xzvT/CibRtxuZfwv3c0FgAbDuw/1WpwkEkSYrURwKWBBwJOAcvYd6/m6FeCRH9V9i2bZPFzkcwl+/ECaSsLKSso5wsRjl7YUgp368wRikbDCZgUOFgepiB3EhuQmZGZko0J0pgul9/9QAYQXLt7hlOipMzISBHDAAA);
        background-repeat: no-repeat;
        background-size: 20px 12px;
        background-position: center;
        background-color: transparent !important;
        
        box-shadow: none;
        
        transition-duration: 0.2s;
        transition-property: all;
    }
    
    & + div {
        display: none;
        
        position: relative;
        
        width: 100%;
        
        max-width: 500px;
        
        margin: 5px auto;
        
        overflow: hidden;
    }
}

input[type="checkbox"]:checked + label.drop_down {
    &:after {
        transform: scaleY(-1);
    }
    
    & + div {
        display: block;
        
        animation: drop_down_open 0.1s ease-out;
    }
}

@keyframes drop_down_open {
    0% {
        transform: translateY(-45px);
        
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        
        opacity: 1;
    }
}

.wide_button {
    display: block;
    
    box-sizing: border-box;
    
    width: calc(100% - 40px) !important;
    
    max-width: 460px;
    
    margin: 10px auto;
    padding: 10px 10px;
    
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

#operation_data_formation, select {
    display: block;
    
    width: calc(100% - 40px);
    
    margin: 10px auto 0 auto;
    
    padding: 8px 5px 0 5px;
    
    padding-block: 0;
    padding-inline: 2px;
    
    line-height: 28px;
    font-size: 18px;
}

.suggestion_area {
    position: relative;
    
    width: calc(100% - 30px);
    
    margin: 0 auto 10px auto;
    
    div {
        position: absolute;
        top: 0;
        left: 0;
        
        width: calc(100% - 2px);
        max-height: 180px;
        
        background-color: #ffffff;
        
        font-size: 18px;
        
        overflow-y: scroll;
        
        z-index: 2;
        
        &:not(:empty) {
            border: 1px solid #dddddd;
            
            box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
            
            &:before {
                content: "候補:";
                
                display: block;
                
                position: absolute;
                top: 0;
                left: 10px;
                
                line-height: 40px;
                color: #999999;
            }
        }
        
        button {
            display: block;
            
            width: calc(100% - 60px);
            
            padding: 5px 0 5px 60px;
            
            line-height: 30px;
            font-size: inherit;
            color: inherit;
            
            z-index: 2;
            
            small {
                margin-left: 5px;
                
                font-size: 14px;
                color: #999999;
            }
        }
    }
}

.radio_area {
    position: relative;
    
    max-width: 500px;
    margin: 0 auto;
    
    text-align: center;
}

.textarea_wrapper {
    position: relative;
    
    width: calc(100% - 40px);
    height: 120px;
    
    max-width: 460px;
    
    margin: 10px auto;
    
    div, textarea {
        display: block;
        
        position: absolute;
        top: 0;
        left: 0;
        
        box-sizing: content-box;
        
        width: calc(100% - 10px);
        height: 110px;
        
        padding: 4px;
        
        background-color: transparent;
        
        border: 1px solid transparent;
        border-radius: 5px;

        font-size: 16px;
        color: transparent;
        word-break: break-all;
        overflow-y: scroll;
        
        resize: none;
    }
    
    textarea {
        border-color: #cccccc;
        
        color: #333333;
    }
}

.textarea_background_highlight {
    background-color: #ee3333;
}

.informational_text, .warning_text {
    max-width: 480px;
    
    margin: 10px auto;
    padding: 0 10px 10px 15px;
    
    color: #666666;
    text-align: left;
}

.warning_text, .warning_sentence {
    color: #ee3333 !important;
}

.bottom_link {
    display: block;
    
    margin: 15px auto 30px auto;
    
    line-height: 30px;
    color: #666666;
    text-align: center;
}

footer {
    line-height: 50px;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

.popup_active {
    display: block !important;
    
    opacity: 1;
}

#popup_screen, #wait_screen {
    position: fixed;
    top:0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.75);
    
    overflow: hidden;
    
    z-index: 200;
}

.popup_screen_active {
    display: block !important;
    
    animation: fade_in 0.75s ease-out;
}

#popup_screen_blank_area {
    width: 100%;
    height: 100%;
    
    z-index: 201;
    
    cursor: default;
}

.square_popup {
    display: none;
    
    position: fixed;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    
    width: 310px;
    height: 280px;
    
    z-index: 202;
    
    padding: 40px 5px 0 5px;
    
    background-color: #ffffff;
    
    text-align: center;
    
    input {
        display: block;
        
        width: 235px;
        
        margin: 0 auto;
        
        padding-block: 0;
        
        line-height: 24px;
        font-size: 18px;
        text-align: center;
    }
    
    button {
        line-height: 22px;
    }
    
    .popup_close_button {
        top: calc(50% - 150px);
        right: calc(50% - 150px);
    }
}

.square_popup.popup_active {
    animation: square_popup_up 0.05s ease-out;
    
    .popup_close_button, .screenshot_button {
        animation: square_popup_close_button_up 0.05s ease-out;
    }
}

@keyframes square_popup_up {
    0% {
        top: calc(50% - 110px);
    }
    
    100% {
        top: calc(50% - 160px);
    }
}

@keyframes square_popup_close_button_up {
    0% {
        top: calc(50% - 100px);
    }
    
    100% {
        top: calc(50% - 150px);
    }
}

.popup_close_button, .message_close_button {
    background-image: url(data:image/webp;base64,UklGRgABAABXRUJQVlA4TPMAAAAvO8AOEIdgpm0bq/whFOiulYaZtm2s8odQoLtWM23bWOUPoUB3rYoiSWouIwPlaMAQXwoLceuibf3/sg0YABILH0DDxtwm8CQJ3F2HI7eNHGlnPZ3DTP3/tZuryptPEf1n4LaRot1kjxm6b5A/aF2Yp1XXYSstFIvACZuAniXgzKYvWwAQ9AvbFcN8UlaM2jHpgUEf1Hqh1I/HJzJFPFHoy0MZ7AlA6CIcDulqnEY+y2MXYSIfkZ1JS0ceLSDS6AFA2j1Rfex38fcBvjJ/V5P5m5zM3/NkxsKkxhE5Bk3YsjtYsnu9ym5qn4HaV+H2kf6fVQAA) !important;
    background-repeat: no-repeat;
    background-position: center;
    
    z-index: 10;
}

.popup_close_button {
    position: fixed;
    top: 0;
    right: 10px;
    
    width: 40px;
    height: 40px;
    
    border-radius: 4px;
    
    background-size: 30px;
    background-color: rgba(255, 255, 255, 0.9);
}

#popup_background, #popup_screen, #wait_screen {
    display: none;
}

.link_block {
    padding: 15px 0 10px 0;
    
    text-align: center;
    
    a {
        color: #666666;
    }
}

#wait_screen:before {
    content: "";
    
    display: block;
    
    position: fixed;
    top: calc(50vh - 60px);
    left: calc(50vw - 60px);
    
    width: 120px;
    height: 120px;
    
    background-image: url(data:image/webp;base64,UklGRmQCAABXRUJQVlA4TFgCAAAv78A7EE/BqI0kR57lD2r57C9evqHBqI0kR57lD2r57C9evmHURpIjz/IHtXz2Fy/fsAkAMMnc7RNcfqoThA4EoIBLAGYmqLXi1trfe/f//+fMRPAYwUERQYEQkFEgASH//x+hMpNjiAgcEQ88aghQoMx8cUfEBFVKmbFFRLzve8Uy54THcewGCG4kKZJ6efeYmfn6/x9cqpGuI6uOpyei/5DcRnIkRVIz6/fonpAV79C4rHit/2tP3MVWL9Zd7B9s94hzrboAnGut4M2z1uDmWAba/MoU4K4P7LvpxbfeZoPtnjMbSnBlo6djCaAR6kRwRkgGZoCEUFY+KZAVTwxjmLpuKAExTuNcJRBGSgRgoGSUHychxYdJSulRElN4kOSUHSNBRYdIUskRElVwxfP3X0uAhKkmTTNxikVnMLE3yjU+/UnDyzEyi5JRnNaK1EqxWhSrQa3ybho8Z4Vz5cXd1xyihmJkFiWjOK0VqZVC9Tgv3Gv9X+v/fNlekfNjsw+5fzgW7rX+r/V/PwFL05Ngmz3cd8FWF2JNxstZciIZL7fdnAsZBFpyIBO+VerZN6W3zo82EjxLkNniK53fNvEiKT4kxoPk6CdIPUnaiVJOlm7CVJOmmTjF5OnlALVcoJUT3GvHOA6ZlwnjEHkvYiASn8EYicBXgwwF/40oY4F/Vw9W06m9yzf2z3vQOC9eHrF/vQGtPGb1/creLGXSAJDV2r9r+OUVNYL1sDZSZg1hNayNlGFjWIa1kTJtDIvvirWRMm6Uw9pIOdTV95SDXa2t//uXZX/wrwI=);
    background-size: 120px;
    
    animation: spin 1s steps(8) infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

#message_area {
    position: fixed;
    top: 20px;
    left: calc(50% - 150px);
    
    width: 300px;
    
    z-index: 300;
    
    &:empty {
        display: none;
    }
    
    div {
        position: relative;
        
        width: 250px;
        
        margin-bottom: 5px;
        
        padding: 5px 20px 5px 30px;
        
        border-radius: 5px;
        
        background-image: url(data:image/webp;base64,UklGRmwCAABXRUJQVlA4TGACAAAvJ8AJEOfiuG0kR2LPrN/LP51Lyr1u6lwQjNpIcuS+nAAcnOPP534rNdu2kRxxLrz4+6/S23EYSbKq1P59391xS4H8Y4EM3OFqr8Bw/eqeJ94egl2sTR/Q1cbUpvnippYoE8I8Ic27CihFGggmBMNdA9yrAMMKRJkQLi2EMn7iDqsCylHXkj0ohAiAB4hzoMa1kHYHFwSBAAAPAIIV498EAPB/DixO3btCFinHRDGaNAyNOERY4/ug7Nt3fC29L2PG8399tnd5A4KtbWejamzbtm2mf5/amHf/C0n658+ZDUT0fwL0T2s7F/fZdDp7d7HdH0Fn6wnrp72cm7+9LKHflmMO6tc4vSmEWvzB7x1NN3r+/noaU8eej59KiDkD8L7RK8v2ahbAzFotGoCzlEL27AOYikX9BzATcjhjgO9il79rwMzL6UgGuI0F7QFMqOsmwGYXTQKsBXSywJlc6Rx4zfm2gGzKXc8HsO17BjbkTpvAo6Qa4PXahG97QFXaAY4U6QmwLF0A09EsAQfSA9Cw2gVYsRoErqV3oB1ND/AqecBfNAngV0oDiWjiQe9AKpoe4FV6AErRlIEb6RKYimYdOJR2gONoToE1qR/w2lGk0sCApAdgNYpd4FGS9oBsj7vmJ7Ds67wD++4OgNeWT8sAM66mAaYUGLsBzIKb4QxwlQxS4QcwM0H20xngq0/dKwbgvBkmfwBgRmU7awA+NlM2qd1PADMu+7Fv/N7J+lBPItEcXD9N4/8aVdjirS/8VZ/Cx9bewr0uJeU0t/Ni97Ddkvvq8sHNu+e93RysDeifAg==);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 5px 50%;
        background-color: #ffffff;
        
        line-height: 24px;
        font-size: 16px;
        
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
        
        animation: fade_in_out 10s ease-out;
        
        &.error_message {
            background-image: url(data:image/webp;base64,UklGRkgCAABXRUJQVlA4TDsCAAAvJ8AJEN/CoJEkRXX4b+BVvH91dCiCQSNJiupAyPu3x7jDoG0kR777SuBRPH90LW5j21aqQS6RRRTAUA7leyrf3fW+u1N48G53eDqxypRM+WMEAMDABgP4QgEAMADwhsLBQaEAihdM81ZeuGoEN41ggrVk+GOtEc0F1yZP7Js8XHR5NElZzO+PFJlOWlKkLcVNt1bV0SQYaXubn/54X/+8Yx4DFnAawVWsoxkJ0RzEGpWuaCLXWuZa+a9fj+/AQi8XBggCwKZRnHPcHc7d3d39Dlv//xCaZNn4AI3ovwO3bSNJsfc+PJNJHiEYVfBOK8KEyodcFuVYHhhFi19aQP3HNUPUni1EPbb45Hzwuw8K/sF/jkdvdWKRnK6+9yLnIIIz8KnPTvMeRLL6sjJGe2kDMa7juzqk3+AhvtQFqswYJllXKToo9RWdeqd5h47sCLIfuUBn4UP/TB2DQGerb0kSHpi3JMMrnSrPYKYkwVMKXATvCUwxDBqcetLBrQFPLE6kwo1l/gOuDDfNAln9ClkhLRgELbJcDaGK0kqFufTd8G8TBejbIgtSjg02C1rYPLBIM8EaQbZFYZDCNcSRMADRL/Q/TChT4kF7+IrEhmgr0WguYYvkpijU4B1MRozLrp/ol3xojQoGbg0KtBUKWXOz5kMLE20dNAU5H/S8HQqlFHve6Pl16M9vn5pfvA/sxvZBmdwv7/z9Mqmatq+M7L8vcv+ZtU/N2s9/vO+J/q9csoV5YUJ1ParLSKMAAA==);
            background-color: #ffcccc;
        }
    }
}

@keyframes fade_in_out {
    0% {
        opacity: 0;
        margin-top: 10px;
        margin-bottom: -5px;
    }
    
    1% {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 5px;
    }
    
    60% {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 5px;
    }
    
    100% {
        opacity: 0;
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.message_close_button {
    position: absolute;
    top: -5px;
    right: -5px;
    
    width: 40px;
    height: 40px;
    
    background-size: 20px;
    background-color: transparent !important;
}

iframe {
    position: fixed;
    
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    border: none;
    
    background-color: #ffffff;
    
    z-index: 500;
}
