@charset "utf-8";

* {
    font-family: "Noto Sans CJK JP", "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
    
    outline: 0 !important;
    
    cursor: default;
    
    touch-action: manipulation;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    
    color: #333333;
    
    overscroll-behavior-y: none;
}

*[onclick], *[onclick] *, a, a *, button, select, label {
    cursor: pointer;
    
    -webkit-tap-highlight-color: rgba(153, 153, 153, 0.2);
}

*[onclick]:hover, *[onclick]:hover *, a:hover, a:hover *, button:hover, select:hover, label:hover {
    text-decoration: none !important;
}

*[disabled] {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, rgba(153, 153, 153, 0.1) 8px, rgba(153, 153, 153, 0.1) 12px);
    
    color: #999999 !important;
    
    cursor: no-drop !important;
}

input, textarea {
    cursor: text;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 40px;
    
    background-color: #f7f7f7;
    
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
    
    z-index: 5;
}

#railroad_icon {
    display: block;
    
    position: absolute;
    left: 0;
    
    width: 64px;
    height: 40px;
    
    background-image: url(data:image/webp;base64,UklGRo4CAABXRUJQVlA4TIICAAAvWUAWEJVI0La3bZve/6hR+SPjAJMCAYrdC/7lVSGPFQFn27bjTbglo5Pa7k+wbdu27W79Cd9e29bU4/hUt+/ROcbHeAKiXQrCVKqfuWErvvBUM7qcgssVbYgXRNpIXW3vQnJhohXBlCaTAtWiB0ySdiSWLfBfu3YgM/QhltrEl7PpVkrpxb1pn9u9phAQfqBKREuB5sIL5/Qjbluuc1cnZLEHSo4uqUwf3PSBG53UaXaXh0C4+zgfVAXShEvpZx+UXtVVc3WRrV5kQwVYky74UtyJLCaxAp8q6dN8uECvkDiL+wQFdKonCexzl7PLRYEDCxwpLqrA7twhXKFVEBNtMkVl0egkb07yfPChIQ4l/qa53Sd8UAtc9yyEtrY9C33KjspVNnRR1mtr+Ep3L2hrkNja1WkK7gTu+4CGqIV3ueoDp7EIZPVRUpcRctEDzmIh4gvSD9S9/1ICVXB7nVERiwmZ9sJ4LChkCm6P8xqLCpSDtgNVSmNhce8vF1a4n0I+cRYXz9z/wCyAouyZGwOIeOYive3jmRvmvUW0hePPZJKLO5BUB26RPQys0RDLgzjTdB/DZoObMYCwgXUMNB7DpMQobG2JkcsYIjDaltFlH3fytkkxjs+qtss4MNaG0VFMyoStLTF6GQONf9DALCgwMZOEVuBtPMDkNW8kBcl7ZDyZmSQz808fYgMAnPIHZki3LTNTYLGNCCCrMSLANYG/rq41AW7AMvFBckvBO1oFfreJzU3MwPAOGh4S2nsEpk5AkKTYAAS+CRAbScJqAWJOD0sPuH2nLdcWN5u1B2S3INMibY49BJZ1ZTFMDxbn6BNZuAFRO67IDOMdNyB0xxWZ0Qw=);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 8px 5px;
    background-color: #333333;
    
    overflow: hidden;
    
    &:before, &:after {
        content: "";
        
        display: block;
        
        position: absolute;
        top: -0.5px;
        
        border-top: 20.5px solid #f7f7f7;
        border-bottom: 20.5px solid #f7f7f7;
        border-left: 15px solid transparent;
    }
    
    &:before {
        left: 45px;
        
        width: 4px;
        
        border-top-color: #808080;
        border-bottom-color: #808080;
    }
    
    &:after {
        left: 49px;
        
        width: 1px;
    }
}

#control_panel_close_button {
    position: absolute;
    
    top: 0;
    right: 0;
    
    width: 50px;
    height: 40px;
    
    border: none;
    border-radius: 0;
    
    background-image: url(data:image/webp;base64,UklGRgABAABXRUJQVlA4TPMAAAAvO8AOEIdgpm0bq/whFOiulYaZtm2s8odQoLtWM23bWOUPoUB3rYoiSWouIwPlaMAQXwoLceuibf3/sg0YABILH0DDxtwm8CQJ3F2HI7eNHGlnPZ3DTP3/tZuryptPEf1n4LaRot1kjxm6b5A/aF2Yp1XXYSstFIvACZuAniXgzKYvWwAQ9AvbFcN8UlaM2jHpgUEf1Hqh1I/HJzJFPFHoy0MZ7AlA6CIcDulqnEY+y2MXYSIfkZ1JS0ceLSDS6AFA2j1Rfex38fcBvjJ/V5P5m5zM3/NkxsKkxhE5Bk3YsjtYsnu9ym5qn4HaV+H2kf6fVQAA) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: #efefef;
    
    z-index: 6;
}

article {
    position: relative;
    
    width: calc(100% - 10px);
    min-height: calc(100% - 100px);
    
    padding: 50px 5px;
}

#portal_article:after {
    content: "";
    
    display: block;
    
    position: fixed;
    top: 40px;
    left: 0;
    
    width: 100vw;
    height: calc(100vh - 40px);
    
    opacity: 0.25;
    
    background-image: url("../splash_screen_image.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    
    z-index: -1;
}

nav {
    max-width: 480px;
    
    margin: 5px auto 15px auto;
    
    a {
        padding: 5px;
    }
}

h2 {
    max-width: 480px;
    
    margin: 10px auto 20px auto;
    
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    
    &:has(img) {
        padding: 5px 0;
        
        color: #ffffff;
    }
    
    img {
        display: block;
        
        width: 40px;
        
        margin: 5px auto;
    }
}

h3 {
    max-width: 490px;
    
    margin: 30px auto 10px auto;
    
    padding-left: 6px;
    
    border-left: 4px solid #666666;
    
    line-height: 32px;
    font-size: 18px;
}

h4 {
    max-width: 480px;
    
    margin: 20px auto 0 auto;
    
    padding: 5px 10px;
    
    font-size: 18px;
    
    &:before {
        content: "";
        
        display: inline-block;
        
        width: 0.4lh;
        height: 0.4lh;
        
        margin: 0.3lh 0.2lh 0.3lh -0.4lh;
        
        background-color: #999999;
        
        vertical-align: top;
    }
}

h5 {
    max-width: 485px;
    
    margin: 15px auto 0 auto;
    
    padding-left: 15px;
    
    font-size: 16px;
}

table {
    width: 100%;
    
    max-width: 500px;
    
    margin: 10px auto;
    
    border-collapse: collapse;
    
    tr:not(:last-child) {
        border-bottom: 1px solid #cccccc;
    }
    
    th {
        line-height: 36px;
        font-size: 18px;
    }

    td {
        position: relative;
        
        padding: 10px 5px;
        
        line-height: 40px;
        
        button {
            position: absolute;
            
            top: 15px;
            right: 5px;
            
            padding: 4px 12px;
            
            line-height: 20px;
        }
    }
}

.file_list {
    max-width: 480px;
    
    margin: 0 auto;
    
    padding: 0 10px;
    
    list-style: none;
    
    li {
        padding: 5px 0;
        
        line-height: 30px;
        font-size: 18px;
        font-weight: bold;
        
        a {
            display: block;
            
            color: inherit;
        }
        
        small {
            font-size: 16px;
            font-weight: normal;
        }
        
        button {
            margin-top: 3px;
            
            float: right;
        }
        
        .informational_text {
            height: 20px;
            
            margin-top: 5px;
            
            padding: 0;
            
            text-align: right;
            font-size: 16px;
            font-weight: normal;
        }
    }
    
    li:not(:last-child) {
        border-bottom: 1px solid #cccccc;
    }
}

.descriptive_text {
    color: #666666;
    text-align: center;
}

a {
    color: #666666;
}

a:has(.train_icon), b:has(.train_icon) {
    display: block;
    
    font-size: 20px;
    text-align: center;
}

.train_icon {
    max-width: 40px;
    max-height: 40px;
    
    margin-right: 10px;
    
    vertical-align: top;
    
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.25));
}

.dir_link:before {
    content: "";
    
    display: inline-block;
    
    width: 30px;
    height: 30px;
    
    margin-right: 10px;
    
    background-image: url(data:image/webp;base64,UklGRmAAAABXRUJQVlA4TFMAAAAvL8ALEB8gEEjyd5tpDYFAkr/bTAsEkvzdZlpIQKgWi64HqP5FYBxJVqrFHUIh/xMpkQF8dzlG9H8CcOk2pavcqryqrDpQAUCdIzMJK3+itjsuDQA=);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    
    vertical-align: top;
}

#icon_area {
    max-width: 480px;
    
    margin: 0 auto;
    
    padding-left: 20px;
    
    h4, h5 {
        margin-left: -20px;
    }
    
    a {
        display: inline-block;
        
        width: 80px;
        height: 86px;
        
        margin: 5px 0 9px 0;
        
        font-size: 14px;
        line-height: 16px;
        color: inherit;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        
        overflow: hidden;
    }
    
    img {
        display: block;
        
        width: 30px;
        
        margin: 0 auto 4px auto;
        
        padding: 9px;
        
        border: 1px solid #ffffff;
        border-radius: 4px;
        
        background-image: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.4)), linear-gradient(315deg, #ffffff 8px, transparent 8px);
    }
}

button, a.wide_button, .chip + label {
    background-color: rgba(255,255,255,0.9);
    background-image: linear-gradient(315deg, #666666 8px, transparent 8px);
    
    border: 1px solid #666666;
    border-radius: 4px;
    
    color: #333333;
    text-align: center;
    text-decoration: none;
}

.chip + label {
    display: inline-block;
    
    position: relative;
    
    margin: 6px 2px;
    
    padding: 4px 13px;
    
    border-color: #999999;
    
    background-image: none;
    background-color: #eeeeee;
    
    color: #666666;
}

.chip:checked + label {
    padding: 4px 4px 4px 22px;
    
    border-color: #333333;
    
    background-image: url(data:image/webp;base64,UklGRpwAAABXRUJQVlA4TI8AAAAvH8AHEC9AkG3TTOn+bNcgyLZppnR/thNk2zRTuj/byQQstk91aUUQYNtR7H8qwSCSrTYvTcClCMABFnBA/LuhvFQBEf1X5LZtk8VbOp6hf2Uer+IIV8J4IYQrSVcyv2AerzzClTBeCMFv2SjYLZGCeXOPfXMGzuoiGfyXRODix7ZOQ6cnSZZGz4VSXvSbFAA=);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 4px 50%;
    background-color: transparent;
    
    color: #333333;
}

.wide_button, .half_button {
    display: block;
    
    position: relative;
    
    box-sizing: border-box;
    
    width: calc(100% - 40px) !important;
    
    max-width: 460px;
    
    margin: 10px auto;
    padding: 10px 10px;
    
    background-image: linear-gradient(315deg, #666666 14px, transparent 14px) !important;
    
    line-height: 26px;
    font-size: 18px;
    overflow: hidden;
}

.wide_button img {
    position: absolute;
    top: -1px;
    left: -1px;
    
    width: 30px;
    
    padding: 9px;
    padding-right: 8px;
    
    background-color: #333333;
    background-image: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.4));
}

.half_button {
    display: inline-block;
    
    width: calc(50% - 25px) !important;
    
    max-width: 225px;
    
    margin: 10px 5px;
    
    *:first-of-type& {
        margin-left: max(calc(50% - 230px), 20px);
    }
}

.execute_button {
    display: block;
    
    box-sizing: border-box;
    
    width: min(calc(75% - 5px), 370px) !important;
    
    margin: 10px 0 10px max(25%, calc(50% - 125px)) !important;
    padding: 5px 30px 5px 0 !important;
    
    border: none;
    
    background-image: url(data:image/webp;base64,UklGRo4AAABXRUJQVlA4TIIAAAAvLcAJEC8gEEhhuy0QSGG7LRBIYbstJCDc91gT4B8iXAUHkWRLzXAYGCACcBALcRD/cjhHQkT/Fblt26iDV79DHQE+Xhbcz9F+9j/bn6pYsWLFihUrVqxYsWLFihUrVqxYee539r0seG4+Wy8LqlSpUqVKlSpVqlSpUqVKlSpVqlQB);
    background-repeat: no-repeat;
    background-size: 23px 20px;
    background-position: right;
    background-color: transparent !important;
    
    line-height: 20px;
    font-size: 16px;
    color: #666666;
    text-align: right;
    text-decoration: underline;
}

.link_block {
    padding: 15px 0 10px 0;
    
    text-align: center;
}

textarea {
    display: block;
    
    box-sizing: content-box;
    
    width: calc(100% - 60px);
    height: 60px;
    
    max-width: 440px;
    
    margin: 10px auto;
    padding: 9px;
    
    border: 1px solid #cccccc;
    border-radius: 5px;

    font-size: 16px;
    text-align: left;
    
    resize: none;
}

.rule_content {
    width: calc(100% - 30px);
    height: 480px;
    
    max-width: 480px;
}

.announcement_content {
    height: 180px;
    
    font-size: 18px;
}

input, select {
    display: block;
    
    width: 90%;
    
    max-width: 480px;
    
    margin: 10px auto;
    
    background-color: transparent;
    
    font-size: 18px;
}

input[type="text"], input[type="number"], input[type="password"], input[type="search"], input[type="date"], select {
    background-color: #ffffff;
    
    border: none;
    border-bottom: 2px solid #cccccc;
    
    color: #333333;
    
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"] {
    display: inline-block;
    
    width: 50px;
    
    margin-left: max(20px, 50% - 230px);
    
    font-size: 18px;
}

input[type="datetime-local"] {
    padding: 4px;
    
    border: 1px solid #cccccc;
}

input[type="checkbox"] {
    display: none;
}

.chip_wrapper {
    max-width: 460px;
    
    margin: 0 auto;
    
    padding: 0 20px;
}

.half_input_wrapper {
    max-width: 480px;
    
    margin: 5px auto;
    
    padding: 0 10px;
    
    input, select {
        display: inline-block;
        
        width: 40%;
        
        margin: 0 10px;
    }
    
    input[type="number"] {
        width: 60px;
    }
}

.toggle + label {
    display: block;
    
    position: relative;
    
    margin: 10px 0 20px max(20px, calc(50% - 230px));
    
    padding-left: 54px;
    
    line-height: 24px;
    font-size: 18px;
    text-align: left;
    
    &:before {
        content: "";
        
        display: inline-block;
        
        position: absolute;
        
        top: 0;
        left: 0;
        
        width: 42px;
        height: 22px;
        
        border: 1px solid #cccccc;
        
        background-color: #dddddd;
        
        border-radius: 6px;
        
        transition-duration: 0.25s;
        transition-property: all;
    }
    
    &:after {
        content: "";
        
        display: inline-block;
        
        position: absolute;
        
        top: 2px;
        left: 2px;
        
        width: 20px;
        height: 20px;
        
        background-color: #f7f7f7;
        
        border-radius: 4px;
        
        transition-duration: 0.2s;
        transition-property: all;
    }
}

.toggle:checked + label {
    &:before {
        border-color: #009966;
        
        background-color: #33cc99;
    }
    
    &:after {
        left: 22px;
        
        background-color: #ffffff;
    }
}

input[type="checkbox"] + label.drop_down {
    display: block;
    
    position: relative;
    
    width: calc(100% - 20px);
    
    max-width: 480px;
    min-height: 25px;
    
    margin: 5px auto;
    padding: 10px;
    
    background-color: #444444;
    
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    
    z-index: 1;
    
    &:after {
        content: "";
        
        display: inline-block;
        
        position: absolute;
        top: calc(50% - 22.5px);
        left: calc(100% - 45px) !important;
        
        width: 45px;
        height: 45px;
        
        background-image: url(data:image/webp;base64,UklGRnwAAABXRUJQVlA4TG8AAAAvJ8AFECcw//M//2LBFPcNs0AfAINB20aSqlsCB+FFcFoCtyp/TqfttAshov8K27Ztstj5CNbyXTjBwZbiYBvsKQb7x58kn52JQW6YJIFJFEJSSRa8Fa/B6XBaqp5qIKm/1EQxXIsJMSJmFgQOIwAA);
        background-repeat: no-repeat;
        background-size: 20px 12px;
        background-position: center;
        background-color: transparent !important;
        
        box-shadow: none;
        
        transition-duration: 0.2s;
        transition-property: all;
    }
    
    & + div {
        display: none;
        
        position: relative;
        
        width: 100%;
        
        max-width: 500px;
        
        margin: 5px auto;
        
        overflow: hidden;
    }
    
    #announcements_area & {
        width: calc(100% - 80px);
        
        max-width: 420px;
        
        padding: 10px 40px;
    }
}

input[type="checkbox"]:checked + label.drop_down {
    &:after {
        transform: scaleY(-1);
    }
    
    & + div {
        display: block;
        
        animation: drop_down_open 0.1s ease-out;
    }
}

@keyframes drop_down_open {
    0% {
        transform: translateY(-45px);
        
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        
        opacity: 1;
    }
}

.informational_text {
    max-width: 480px;
    
    margin: 10px auto;
    padding: 0 10px 10px 15px;
    
    color: #666666;
}

.important_announcement {
    background-image: url(data:image/webp;base64,UklGRnIBAABXRUJQVlA4TGYBAAAvNUANELfBKpJkJ/3IGQQggT/8K0trg1EbSY68EcDy53i6/wRWkSQ76UfOIAAJ/OFfWVpWsW0ruffh/kskshKCCJRwd7cToHRwubTBAJ8bAHAAAIACAAySwkgMDIaEA7dBi7BmIi4KIBflj6SA9mWETVFR8PtFRqavv7aN1q+6+i0KvDLKJimly1Tfun3iCZe3BMM/POMYqdXSMQ5ax0rnOuneN8G1bdtms5PL1LZtt///bw1OTo2HiP5PAAKnnU3KyFhNatOZIuIwJ5nW5mFEU0m2qiUC1gXJOj/2EXnJvOheNSX7OoClojkcfQ80qg/kJe3F8b3QyCom8hbktH0bvc1tVLK3kbS3YeVt0P9HOZ19T9xeQI9qt/fdUSUyVBfH90KVqt5GqXMb3dFtrJC7hSqw0DSHo++BRvUBtGjibQCAyHErulcY53nlxvAXdcVHN7YIOStzqQ4QcdSrpGw8Nl3qjRAI);
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 9px 50%;
}

.announcement {
    padding: 15px;
    
    background-color: #eeeeee;
    
    font-size: 18px;
    text-align: left;
    word-break: break-all;
    
    small {
        display: block;
        
        margin-top: 10px;
        
        font-size: 16px;
        color: #666666;
        text-align: right;
    }
}
