@charset "utf-8";

* {
    font-family: "Noto Sans CJK JP", "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
    
    outline: 0 !important;
    
    cursor: default;
    
    touch-action: manipulation;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    min-height: 100%;
    
    overscroll-behavior-y: none;
    
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    
    margin: 0;
    
    padding: 50px max(10px, calc(50% - 240px));
    
    color: #333333;
    word-break: break-all;
}

*[onclick], *[onclick] *, a, a *, button {
    cursor: pointer;
    
    -webkit-tap-highlight-color: rgba(153, 153, 153, 0.2);
}

*[onclick]:hover, *[onclick]:hover *, a:hover, a:hover *, button:hover {
    text-decoration: none !important;
}

input {
    cursor: text;
}

h2 {
    max-width: 500px;
    
    margin: 10px auto 20px auto;
    
    line-height: 40px;
    font-size: 22px;
    text-align: center;
}

h3 {
    margin: 20px 0 15px 0;
    
    padding: 5px 10px;
    
    background-color: #444444;
    
    color: #ffffff;
}

h4 {
    margin: 15px 0 10px 0;
    
    padding-left: 6px;
    
    border-left: 4px solid #666666;
    
    line-height: 32px;
    font-size: 18px;
}

ul {
    max-width: 460px;
    
    margin: 10px auto 20px auto;
    
    padding: 0 10px 0 30px;
}

li {
    margin-bottom: 15px;
    
    color: #444444;
    
    list-style-type: square;
}

a {
    color: #666666;
    font-weight: bold;
}

.external_link:after {
    content: "";
    
    display: inline-block;
    
    width: 18px;
    height: 1lh;
    
    margin-left: 2px;
    
    background-image: url(data:image/webp;base64,UklGRqYAAABXRUJQVlA4TJkAAAAvI8AIEDdAkG2z+hMc9h4Ekjazf4KHPRBI2sz+CR72QCRAAs1HVv+fMiq2HfsvilTCUSNJjlR77n0ptQbHQfAAhkEffxhjas4AiOj/BEiila70ZxQLrjOb+rHguiA7bDPFS7ziJV5pXlMJUBUzpTnqOpEAVVKMSnOSlIMLwFvtQAEcjStUGQqO1rXK0q5zZqb//+xvsb/E/RoA);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
    
    vertical-align: top;
}

button, .popup_close_button {
    background-color: rgba(255,255,255,0.9);
    background-image: linear-gradient(315deg, #666666 8px, transparent 8px);
    
    border: 1px solid #666666;
    border-radius: 4px;
    
    color: #333333;
    text-align: center;
    text-decoration: none;
}

.popup_close_button {
    position: fixed;
    top: 10px;
    right: 10px;
    
    width: 40px;
    height: 40px;
    
    background-image: url(data:image/webp;base64,UklGRgABAABXRUJQVlA4TPMAAAAvO8AOEIdgpm0bq/whFOiulYaZtm2s8odQoLtWM23bWOUPoUB3rYoiSWouIwPlaMAQXwoLceuibf3/sg0YABILH0DDxtwm8CQJ3F2HI7eNHGlnPZ3DTP3/tZuryptPEf1n4LaRot1kjxm6b5A/aF2Yp1XXYSstFIvACZuAniXgzKYvWwAQ9AvbFcN8UlaM2jHpgUEf1Hqh1I/HJzJFPFHoy0MZ7AlA6CIcDulqnEY+y2MXYSIfkZ1JS0ceLSDS6AFA2j1Rfex38fcBvjJ/V5P5m5zM3/NkxsKkxhE5Bk3YsjtYsnu9ym5qn4HaV+H2kf6fVQAA) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    
    border: none;
    
    color: transparent;
    overflow: hidden;
    
    z-index: 10;
}

.wide_button {
    display: block;
    
    position: relative;
    
    width: calc(100% - 40px) !important;
    
    max-width: 460px;
    
    margin: 10px auto;
    padding: 10px 10px;
    
    background-image: linear-gradient(315deg, #666666 14px, transparent 14px) !important;
    
    line-height: 26px;
    font-size: 18px;
    overflow: hidden;
}

.execute_button {
    display: block;
    
    width: calc(100% - 10px);
    
    max-width: 490px;
    
    margin: 8px auto 16px auto;
    padding: 6px 0 !important;
    
    border: none;
    
    background-image: none;
    background-color: transparent !important;
    
    line-height: 20px;
    font-size: 16px;
    color: #666666;
    text-align: right;
    text-decoration: underline;
    
    &:after {
        content: "";
        
        display: inline-block;
        
        width: 10px;
        height: 20px;
        
        margin-left: 5px;
        
        background-image: url(data:image/webp;base64,UklGRnQAAABXRUJQVlA4TGgAAAAvE8AJEC9AkG3Tyd6f4BwE2Tad7P0JHoJsm072/gQPmbRNLVTyXO9rgG1hqPp/wSqSZCdDEnBBABZwgAX8+xnyf0T/DSZt03bzF651kRySEEIIIYQW9j+yRmwAkBHTP0REREREZORWAQ==);
        background-repeat: no-repeat;
        background-size: 10px 20px;
        
        vertical-align: top;
    }
}

input[type="text"], input[type="number"], input[type="password"] {
    display: block;
    
    width: 90%;
    
    margin: 10px auto;
    
    background-color: #ffffff;
    
    border: none;
    border-bottom: 2px solid #cccccc;
    
    font-size: 18px;
    color: #333333;
    
    appearance: none;
    -webkit-appearance: none;
}

.link_block {
    padding: 15px 0 10px 0;
    
    text-align: center;
}

.link_block a {
    color: #666666;
}

.key_and_value {
    width: calc(100% - 60px);
    
    max-width: 440px;
    
    margin: 10px auto;
    
    border-bottom: 2px solid #dddddd;
    
    text-align: right;
    font-size: 18px;
}

.key_and_value:after, .value_and_button:after {
    content: "";
    
    display: block;
    
    clear: both;
}

.key_and_value b {
    display: block;
    
    width: fit-content;
    
    float: left;
    
    font-weight: bold;
}

.value_and_button b {
    display: inline-block;
    
    margin-left: 20px;
    margin-right: 20px;
    
    line-height: 32px;
    font-size: 20px;
    word-break: break-all;
}

.value_and_button button {
    float: right;
    
    margin: 0 20px !important;
}

.informational_text, .warning_text {
    max-width: 480px;
    
    margin: 10px auto;
    padding: 0 10px 10px 15px;
    
    color: #666666;
    text-align: left;
}

.warning_text {
    color: #ee3333;
}

#zizai_captcha_area {
    width: fit-content;
    
    margin: 0 auto;
}

#zizai_captcha_area button {
    border-radius: 0;
}

#zizai_captcha_area input {
    margin: 0;
}

#wait_screen {
    display: none;
    
    position: fixed;
    top:0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0,0.9);
    
    overflow: hidden;
    
    z-index: 200;
}

#wait_screen:before {
    content: "";
    
    display: block;
    
    position: fixed;
    top: calc(50vh - 60px);
    left: calc(50vw - 60px);
    
    width: 120px;
    height: 120px;
    
    background-image: url(data:image/webp;base64,UklGRmQCAABXRUJQVlA4TFgCAAAv78A7EE/BqI0kR57lD2r57C9evqHBqI0kR57lD2r57C9evmHURpIjz/IHtXz2Fy/fsAkAMMnc7RNcfqoThA4EoIBLAGYmqLXi1trfe/f//+fMRPAYwUERQYEQkFEgASH//x+hMpNjiAgcEQ88aghQoMx8cUfEBFVKmbFFRLzve8Uy54THcewGCG4kKZJ6efeYmfn6/x9cqpGuI6uOpyei/5DcRnIkRVIz6/fonpAV79C4rHit/2tP3MVWL9Zd7B9s94hzrboAnGut4M2z1uDmWAba/MoU4K4P7LvpxbfeZoPtnjMbSnBlo6djCaAR6kRwRkgGZoCEUFY+KZAVTwxjmLpuKAExTuNcJRBGSgRgoGSUHychxYdJSulRElN4kOSUHSNBRYdIUskRElVwxfP3X0uAhKkmTTNxikVnMLE3yjU+/UnDyzEyi5JRnNaK1EqxWhSrQa3ybho8Z4Vz5cXd1xyihmJkFiWjOK0VqZVC9Tgv3Gv9X+v/fNlekfNjsw+5fzgW7rX+r/V/PwFL05Ngmz3cd8FWF2JNxstZciIZL7fdnAsZBFpyIBO+VerZN6W3zo82EjxLkNniK53fNvEiKT4kxoPk6CdIPUnaiVJOlm7CVJOmmTjF5OnlALVcoJUT3GvHOA6ZlwnjEHkvYiASn8EYicBXgwwF/40oY4F/Vw9W06m9yzf2z3vQOC9eHrF/vQGtPGb1/creLGXSAJDV2r9r+OUVNYL1sDZSZg1hNayNlGFjWIa1kTJtDIvvirWRMm6Uw9pIOdTV95SDXa2t//uXZX/wrwI=);
    background-size: 120px;
    
    animation: spin 1s steps(8) infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

iframe {
    position: fixed;
    
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    border: none;
    
    background-color: #ffffff;
    
    z-index: 500;
}
